body {
  background-color: #f3e8ee; /* light beige */
  color: #2c2c2c; /* Dark text for contrast */
}


.site-header, .site-footer {
  background-color: #c3b1e1; /* pastel purple */
  color: white; /*color inside */
}

a {
  /* link colour: deep purple */
  color: #524f81; 
}
